/* .table {
    border-collapse: collapse;
    width: 80%;
    border: none;
}
.title,
.footer {
    background-color: rgb(145, 215, 233);
}
.title {
    height: 30%;
}
.body-right {
    background-color: rgb(224, 222, 222);
}
tr th {
    padding: 40px;
}
.footer td {
    padding: 30px;
} */
/* body {
    margin: 0;
} */
td,th {
    padding: 8px;
    /* border: 1px solid #dddddd; */
    text-align: left;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}
